<%- include ('partials/_header'); %>

<!-- <pre>
    <%= tasks %>
</pre> -->
    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="id" name="id" placeholder="id" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="name" name="name" placeholder="nombre" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block ">Agregar</button>
                        </form>
                    </div>

                </div>
            </div>
            <!-- TABLE -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                         
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Operación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i =0; i<tasks.length; i++) { %>
                            <tr>
                               
                                <td><%= tasks[i].id%> </td>
                                <td><%= tasks[i].name%> </td>
                                <td>
                                    <a href="/delete/<%= tasks[i]._id%>" class="btn btn-danger">Borrar</a>
                                    <a href="/edit/<%= tasks[i]._id%>" class="btn btn-info">Editar</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>

                </table>


            </div>

        </div>
    </div>
    <%- include ('partials/_footer'); %>